{% if debug %}<!-- pylucid plugin ./admin_menu/includes/superfish_extrahead.html START -->{% endif %}
<script type="text/javascript" src="{{ STATIC_URL }}PyLucid/superfish/superfish.js" onerror="JavaScript:alert('Error loading file ['+this.href+'] !');" ></script>
<script type="text/javascript" src="{{ STATIC_URL }}PyLucid/superfish/pylucid_superfish.js" onerror="JavaScript:alert('Error loading file ['+this.href+'] !');" ></script>
{% if debug %}<!-- pylucid plugin ./admin_menu/includes/superfish_extrahead.html END -->{% endif %}